<a href ="/"><h2>Home</h2></a>

{{#each show}}
<div class="shows-container">
  <h1>{{nameOfSeries}}</h1>
  <h2>ID: {{seriesId}}</h2>
  <h2>Network: {{network}}</h2>
  <img src="https://www.thetvdb.com/banners/{{image}}" alt="banner image">
  <h3>Synopsis: {{synopsis}}</h3>
</div>
{{/each}}
